.w0 {
    width: 0;
}
.w10 {
    width: 10px;
}
.w20 {
    width: 20px;
}
.w30 {
    width: 30px;
}
.w40 {
    width: 40px;
}
.w50 {
    width: 50px;
}
.w60 {
    width: 60px;
}
.w70 {
    width: 70px;
}
.w80 {
    width: 80px;
}
.w90 {
    width: 90px;
}
.w100 {
    width: 100px;
}
.w110 {
    width: 110px;
}
.w120 {
    width: 120px;
}
.w10p {
    width: 10%;
}
.w18p {
    width: 18%;
}
.w19p {
    width: 19%;
}
.w20p {
    width: 20%;
}
.w23p {
    width: 23%;
}
.w24p {
    width: 24%;
}
.w25p {
    width: 25%;
}
.w30p {
    width: 30%;
}
.w31p {
    width: 31%;
}
.w32p {
    width: 32%;
}
.w33p {
    width: 33%;
}
.w40p {
    width: 40%;
}
.w41p {
    width: 41%;
}
.w42p {
    width: 42%;
}
.w43p {
    width: 43%;
}
.w44p {
    width: 44%;
}
.w45p {
    width: 45%;
}
.w46p {
    width: 46%;
}
.w47p {
    width: 47%;
}
.w48p {
    width: 48%;
}
.w49p {
    width: 49%;
}
.w50p {
    width: 50%;
}
.w60p {
    width: 60%;
}
.w70p {
    width: 70%;
}
.w80p {
    width: 80%;
}
.w81p {
    width: 81%;
}
.w82p {
    width: 82%;
}
.w83p {
    width: 83%;
}
.w84p {
    width: 84%;
}
.w85p {
    width: 85%;
}
.w86p {
    width: 86%;
}
.w87p {
    width: 87%;
}
.w88p {
    width: 88%;
}
.w89p {
    width: 89%;
}
.w90p {
    width: 90%;
}
.w91p {
    width: 91%;
}
.w92p {
    width: 92%;
}
.w93p {
    width: 93%;
}
.w94p {
    width: 94%;
}
.w95p {
    width: 95%;
}
.w96p {
    width: 96%;
}
.w97p {
    width: 97%;
}
.w98p {
    width: 98%;
}
.w99p {
    width: 99%;
}
.w100p {
    width: 100%;
}
